extends partials/layout.pug

block content
    h1 Stop being lonely, Register for Codersonly.com!
    .register-form
        form(method='POST')
            .form-group
                label(for='email') Email
                input.form-control#email(
                    type='email'
                    name='email' placeholder='bill@ted.com')
            .form-group
                label(for='password') Password
                input.form-control#password(
                    type='password'
                    name='password'
                    placeholder='*******')
            .form-group
                label(for='confirmation') Password Confirmation
                input.form-control#confirmation(
                  type='password'
                  name='confirmation'
                  placeholder='*********'
                  required
                )
            .contact-form__submit
                input.btn.btn-success.btn-lg(type='submit' value='Register!')
                a.btn.btn-danger.btn-lg(href='/') I changed my mind
